body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #121212; /* Dark blue */
}

header {
  background-color: #121212; /* Dark blue */
  padding: 20px;
  text-align: center;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cards {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.card {
    margin: 0 auto;
  margin-bottom: 30px;
 
}


footer {
    background-color: #121212; /* Dark blue */
    padding: 20px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: lightblue;
  }